* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f7f9f9;
}

.container {
  display: flex;
  height: 100vh;
}

/* .left-side {
  flex: 1;
  background-color: #008c8c;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.left-side {
  flex: 1;
  background-color: #008080;
  background-image: url('/src/img/img-login.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  color: white;
  position: relative;
  overflow: hidden;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.login-box {
  width: 80%;
  max-width: 380px;
  text-align: center;
}

.logo {
  width: 70px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #111;
}

form {
  text-align: left;
}

label {
  font-size: 14px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.options a {
  color: #008c8c;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  background-color: #008c8c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn:hover {
  background-color: #006f6f;
}

.divider {
  text-align: center;
  font-size: 13px;
  color: #888;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ccc;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.google-btn {
  width: 100%;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

.google-btn img {
  width: 20px;
}

.google-btn:hover {
  background-color: #f5f5f5;
}

.signup-text {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.signup-text a {
  color: #008c8c;
  text-decoration: none;
  font-weight: 500;
}

.signup-text a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-side {
    display: none;
  }

  .right-side {
    flex: none;
    height: 100vh;
  }
}


