* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo img {
    max-width: 120px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #2d2d2d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#btn-cadastro:hover {
    color: #8c00ff;
}

.hero {
    background-image: url('carro.jpg'); /* Substitua 'carro.jpg' pela sua imagem */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero .overlay {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

.hero h1 {
    font-size: 2.5em;
    color: #2d2d2d;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    color: #2d2d2d;
    margin-bottom: 30px;
}

.btn {
    background-color: #008c8c;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #006f6f;
}

#btn-login {
    background-color: #008c8c;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btn-login:hover {
    background-color: #006f6f;
}

#btn-cadastro {
    background-color: #ffffff;
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}